// **** VARIABLES **** //
// =================== //

// Main colors
$color-white: #fff;

// Gradient
$linear-gradient: linear-gradient(90deg, rgba(127,129,217,1) 0%, rgba(0,212,255,1) 26%, rgba(255,136,47,1) 57%, rgba(162,246,134,1) 87%);

// Fonts
$font-roboto: 'Roboto', sans-serif