// **** BUTTONS **** //
// ================= //

button{
    color: $color-white;
    padding: 10px 20px;
    border: 2px solid $color-white;
    border-radius: 999px;
    background: transparent;
    font-size: 0.8rem;
    margin: 10px;
    cursor: pointer;  
    transition: .3s;
    &:hover{
        background: $color-white;
        color: #000;
    } 
}